@media all and (min-width: 1024px) {

/*Sections*/
.undersection {
    display: block;
    margin: 0 auto;
    padding: 70px 0;
    text-align: left;
}

.section-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px;
    opacity: 0;
    /* 초기에 숨김 */
    transform: translateY(20px);
    /* 초기 위치 설정 */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.section-content.show {
    opacity: 1;
    /* 나타날 때 투명도 조정 */
    transform: translateY(0);
    /* 나타날 때 위치 조정 */
    transition-delay: 0.1s;
    /* 시작 시점을 조절 */
}


/*Section: program-intro*/
#program-intro img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

/*Section: result-data*/
.data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 50px auto;
}

.data-graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
    flex: 0 0 calc(30% - 40px);
}

.data-graphic img {
    margin-right: 15px;
    height: 150px; /* 이미지 높이를 150px로 고정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 요소에 맞추기 */
}

#data1, #data2, #data3 {
    max-width: 100%;
}

#results-data h3 {
    white-space: nowrap
}

#results-data p {
    text-align: center;
}


/*Section: reviews*/
#reviews {
    height: auto;
}

#reviews .section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
}

#reviews h2 {
    margin-bottom: 10px;
    flex: 100%;
    /* 헤더가 한 행을 차지하도록 설정합니다. */
}

.review-card {
    flex: 0 0 calc(25% - 40px);
    /* 각 카드가 한 행에 4개씩 나오도록 설정 */
    margin-bottom: 80px;
}

/*Section: merit*/
.merit-items {
    display: flex;
    justify-content: space-between;
}

.merit-item {
    text-align: center;
    max-width: 25%;
    /* 각 항목의 최대 너비 설정 */
}

.merit-item img {
    max-width: 80px;
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* 아이콘 이미지가 없을 경우에 대한 스타일링 */
.merit-item img:not([src]) {
    display: none;
}

.merit-phrase {
    margin: 80px auto 0;
    text-align: center;
}

/*Section: comparison*/
#comparison table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 5px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    table-layout: fixed;
}

#comparison th {
    font-size: 1.3em;
    background-color: #91ddff;
    border: 1px solid #464e5e;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5);
}

#comparison td {
    border: 1px solid #464e5e;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.toggle-row .comparison-content {
    display: none;
}

.toggle-row.show .comparison-content {
    display: block;
}

.bad-point {
    background-color: #FFF;
}

.good-point {
    background-color: #c6ecfd;
    font-weight: bold;
}

/*Section: experience-reviews*/
.card-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    gap: 20px;
}

.card {
    flex: 0 0 350px;
    perspective: 1000px;
    min-height: 500px;
    flex-grow: 1;
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.card img {
    width: 50%; 
    height: auto;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
    flex-grow: 1;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9f4ff;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    transform: rotateY(180deg);
    background-color: #f0f0f0;
    padding: 50px 20px;
}


/*Section: curriculum*/
#curriculum .curriculumscreen-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#curriculum .curriculumscreen {
    flex: 0 0 100%;
    max-height: 600px;
    background-color: #FFFFFF;
    opacity: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 20px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: opacity 0.5s ease-in-out;
}

#curriculum .curriculumscreen.active {
    opacity: 1;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    transition: margin-top 0.5s ease-in-out;
}

.arrowButton,
.weekButton {
    color: #FFF;
    background-color: #2875bb;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 3px 4px 0 rgb(0, 0, 0, 0.5);
    line-height: 1;
}

.weekButton {
    flex: 1;
}

.weekButton:active, .arrowButton:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

.arrowButton:hover,
.weekButton:hover {
    background-color: #91ddff;
    color: #FFF;
}

.curriculum-intro {
    flex: 1;
    display: flex;
    justify-content: center;
}

.curriculumscreen-container {
    user-select: none;
}

.curriculumscreen h3 {
    text-align: center;
}

.curriculumscreen img {
    max-width: 450px;
    margin: 0 50px 50px;
}

.curriculum-item {
    width: 50%;
    max-height: 100px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.curriculum-item p {
    margin: 10px 20px;
}

/*Section: instructor*/
#instructor {
    height: auto;
}

.instructor-info {
    display: flex;
    align-items: flex-start;
}

.instructor-info img {
    max-width: 30%;
    object-fit: contain;
    height: auto;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
}

.instructor-description {
    margin-top: 20px;
    padding: 0 20px;
    flex-grow: 1;
}

#instructor-name {
    font-size: 30px;
    font-weight: bold;
    color: #2875bb;
}

#instructor-teacher {
    font-size: 24px;
    font-weight: bold;
}

/*Section: faq*/
.faq-container {
    display: flex;
}

.faq-category {
    min-width: 20%;
    width: auto;
    gap: 20px;
    white-space: nowrap;
}

.category-item {
    border-radius: 5px;
    margin: 5px 50px 0 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #d9f4ff;
    color: #556b73;
    box-shadow: 3px 4px 0 rgb(0, 0, 0, 0.5);
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.category-item.selected {
    color: #FFFFFF;
    background-color: #5Fb1d4;
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    top: 2px;
}

.faq-list {
    width: 70%;
}

.faq-item {
    display: none;
}

.faq-item[data-category="category1"] {
    display: block;
}

.question {
    cursor: pointer;
    background-color: #FFF;
    margin: 5px auto;
    padding: 20px;
    border: dashed 3px #d6eaf8;
    border-radius: 5px;
    font-weight: bold;
}

.answer {
    width: 99%;
    max-height: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 5px auto;
    padding: 0 20px;
    border-radius: 5px;
    transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.answer.show {
    max-height: 500px;
    transition-delay: 0.1s;
    padding: 20px 20px;
    margin-bottom: 10px;
}

/*Section: contact-us*/
#contact-us a:hover {
    color: #c2c2c2;
    text-decoration: underline;
}
}



@media all and (min-width: 768px) and (max-width: 1023px) {
/*Sections*/

.undersection {
    padding: 50px 0;
}

.section-content {
    max-width: 850px;
    padding: 0px 20px;
    margin: 0 auto;
    font-size: 16px;
}

/*Section: program-intro*/
#program-intro img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

/*Section: result-data*/
.data-container{
    margin-top: 50px;
}

.data-graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex: 0 0 calc(30% - 40px);
}

.data-graphic-spec {
    text-align: center; /* 가운데 정렬 추가 */
}

.data-graphic img {
    margin-right: 15px;
    max-height: 150px;
}

#data1, #data2, #data3 {
    max-width: 100%;
}

#results-data p {
    text-align: center;
    margin: 0;
}

.data-graphic h3,
.data-graphic p {
    margin: 5px 0; /* 위아래 간격 조절 */
}


/*Section: reviews*/
#reviews {
    height: auto;
}

#reviews .section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
}

#reviews h2 {
    margin-bottom: 10px;
    flex: 100%;
    /* 헤더가 한 행을 차지하도록 설정합니다. */
}

.review-card {
    flex: 0.5;
    margin-bottom: 20px;
}

/*Section: merit*/
.merit-items {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 아이템을 세로 중앙에 정렬합니다. */
    align-items: center;
}

.merit-item {
    text-align: center;
}

.merit-item img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}

/* 아이콘 이미지가 없을 경우에 대한 스타일링 */
.merit-item img:not([src]) {
    display: none;
}

.merit-phrase {
    margin: 10px auto 0;
    text-align: center;
}

/*Section: comparison*/
#comparison table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 5px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    table-layout: fixed;
}

#comparison th {
    font-size: 1.3em;
    background-color: #91ddff;
    border: 1px solid #464e5e;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5);
}

#comparison td {
    border: 1px solid #464e5e;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.toggle-row .comparison-content {
    display: none;
}

.toggle-row.show .comparison-content {
    display: block;
}

.bad-point {
    background-color: #FFF;
}

.good-point {
    background-color: #c6ecfd;
    font-weight: bold;
}

/*Section: experienc-reviews*/
.card-container {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
}

.card img {
    width: 50%; 
    height: auto;
}

.card {
    flex: 0 0 350px;
    perspective: 1000px;
    min-height: 350px;
    flex-grow: 1;
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 350px;
    flex-grow: 1;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9f4ff;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    transform: rotateY(180deg);
    background-color: #f0f0f0;
    padding: 50px 20px;
}

/*Section: curriculum*/
#curriculum .curriculumscreen-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#curriculum .curriculumscreen {
    flex: 0 0 100%;
    max-height: 600px;
    background-color: #FFFFFF;
    opacity: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 20px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: opacity 0.5s ease-in-out;
}

#curriculum .curriculumscreen.active {
    opacity: 1;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    transition: margin-top 0.5s ease-in-out;
}

.arrowButton,
.weekButton {
    color: #FFF;
    background-color: #2875bb;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 3px 4px 0 rgb(0, 0, 0, 0.5);
    line-height: 1;
}

.weekButton {
    flex: 1;
}

.weekButton:active, .arrowButton:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

.arrowButton:hover,
.weekButton:hover {
    background-color: #91ddff;
    color: #FFF;
}

.curriculum-intro {
    flex: 1;
    display: flex;
    justify-content: center;
}

.curriculumscreen-container {
    user-select: none;
}

.curriculumscreen h3 {
    text-align: center;
}

.curriculumscreen img {
    max-width: 30%;
    margin: 0 50px 50px;
}

.curriculum-item {
    width: 50%;
    height: auto;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.curriculum-item p {
    margin: 10px 15px;
}

/*Section: instructor*/
.instructor-info {
    display: flex;
    align-items: flex-start;
}

.instructor-info img {
    max-width: 30%;
    object-fit: contain;
    height: auto;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
}

.instructor-description {
    margin-top: 20px;
    padding: 0 20px;
    flex-grow: 1;
}

#instructor-name {
    font-size: 30px;
    font-weight: bold;
    color: #2875bb;
}

#instructor-teacher {
    font-size: 24px;
    font-weight: bold;
}

/*Section: faq*/
.faq-container {
    display: flex;
}

.faq-category {
    min-width: 20%;
    width: auto;
    gap: 20px;
    white-space: nowrap;
}

.category-item {
    border-radius: 5px;
    margin: 5px 50px 0 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #d9f4ff;
    color: #556b73;
    box-shadow: 3px 4px 0 rgb(0, 0, 0, 0.5);
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.category-item.selected {
    color: #FFFFFF;
    background-color: #5Fb1d4;
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    top: 2px;
}

.faq-list {
    width: 70%;
}

.faq-item {
    display: none;
}

.faq-item[data-category="category1"] {
    display: block;
}

.question {
    cursor: pointer;
    background-color: #FFF;
    margin: 5px auto;
    padding: 15px;
    border: dashed 3px #d6eaf8;
    border-radius: 5px;
    font-weight: bold;
}

.answer {
    width: 99%;
    max-height: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 5px;
    transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.answer.show {
    max-height: 500px;
    transition-delay: 0.1s;
    padding: 10px 10px;
    margin-bottom: 10px;
}

/*Section: contact-us*/
#contact-us a:hover {
    color: #c2c2c2;
    text-decoration: underline;
}

}



@media all and (max-width: 767px) {
/*Sections*/
.undersection {
    padding: 30px 0;
}

.section-content {
    max-width: 650px;
    padding: 0px 20px;
    margin: 0 auto;
    font-size: 14px;
}

/*Section: program-intro*/
#program-intro img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

/*Section: result-data*/
.data-container{
    margin-top: 50px;
}

.data-graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex: 0 0 calc(30% - 40px);
}

.data-graphic-spec {
    text-align: center; /* 가운데 정렬 추가 */
}

.data-graphic img {
    margin-right: 15px;
    max-height: 150px;
}

#data1, #data2, #data3 {
    max-width: 100%;
}

#results-data p {
    text-align: center;
    margin: 0;
}

.data-graphic h3,
.data-graphic p {
    margin: 5px 0; /* 위아래 간격 조절 */
}


/*Section: reviews*/
#reviews {
    height: auto;
}

#reviews .section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
}

#reviews h2 {
    margin-bottom: 10px;
    flex: 100%;
    /* 헤더가 한 행을 차지하도록 설정합니다. */
}

.review-card {
    flex: 1;
    margin-bottom: 0;
}

/*Section: merit*/
.merit-items {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 아이템을 세로 중앙에 정렬합니다. */
    align-items: center;
}

.merit-item {
    text-align: center;
}

.merit-item img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}

/* 아이콘 이미지가 없을 경우에 대한 스타일링 */
.merit-item img:not([src]) {
    display: none;
}

.merit-phrase {
    margin: 10px auto 0;
    text-align: center;
}

/*Section: comparison*/
#comparison table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 5px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    table-layout: fixed;
    font-size: 0.8em;
}

#comparison th {
    font-size: 1.3em;
    background-color: #91ddff;
    border: 1px solid #464e5e;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5);
}

#comparison td {
    border: 1px solid #464e5e;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.toggle-row .comparison-content {
    display: none;
}

.toggle-row.show .comparison-content {
    display: block;
}

.bad-point {
    background-color: #FFF;
}

.good-point {
    background-color: #c6ecfd;
    font-weight: bold;
}

/*Section: experience-reviews*/
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 50%; 
    height: auto;
}

.card {
    flex: 0 0 calc(100% - 40px);
    perspective: 1000px;
    min-width: 350px;
    min-height: 350px;
    flex-grow: 1;
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 350px;
    flex-grow: 1;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9f4ff;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    transform: rotateY(180deg);
    background-color: #f0f0f0;
    padding: 50px 20px;
}

/*Section: curriculum*/
#curriculum .curriculumscreen-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#curriculum .curriculumscreen {
    flex: 0 0 100%;
    max-height: 600px;
    background-color: #FFFFFF;
    opacity: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: opacity 0.5s ease-in-out;
}

#curriculum .curriculumscreen.active {
    opacity: 1;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    transition: margin-top 0.5s ease-in-out;
}

.weekButton {
    display: none;
}

.arrowButton {
    flex: 1;
    color: #FFF;
    background-color: #2875bb;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 3px 4px 0 rgb(0, 0, 0, 0.5);
    line-height: 1;
}

.weekButton {
    flex: 1;
}

.weekButton:active, .arrowButton:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

.arrowButton:hover,
.weekButton:hover {
    background-color: #91ddff;
    color: #FFF;
}

.curriculum-intro {
    flex: 1;
    display: flex;
    justify-content: center;
}

.curriculumscreen-container {
    user-select: none;
}

.curriculumscreen h3 {
    text-align: center;
}

.curriculumscreen img {
    display: none;
}

.curriculum-item {
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.curriculum-item p {
    margin: 10px 15px;
}

/*Section: instructor*/
.instructor-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.instructor-info img {
    width: 100%;
    object-fit: cover;
    height: 400px; /* 원하는 높이로 설정 */
    border-radius: 10px;
    object-position: top; /* 이미지의 잘린 부분을 설정 */
}

.instructor-description {
    margin-top: 20px;
    padding: 0 20px;
    flex-grow: 1;
}

#instructor-name {
    font-size: 30px;
    font-weight: bold;
    color: #2875bb;
}

#instructor-teacher {
    font-size: 24px;
    font-weight: bold;
}

/*Section: faq*/
.faq-container {
    display: flex;
    flex-direction: column;
}

.faq-category {
    width: 100%;
    height: auto;
    white-space: nowrap;
    display: flex; 
    flex-direction: column;
}

.category-item {
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
    background-color: #d9f4ff;
    color: #556b73;
    box-shadow: 3px 4px 0 rgb(0, 0, 0, 0.5);
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.category-item.selected {
    color: #FFFFFF;
    background-color: #5Fb1d4;
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    top: 2px;
}

.faq-list {
    width: 100%; /* 수정: 원하는 너비로 조절 */
    margin: 0 auto;
}

.faq-item {
    display: none;
}

.faq-item[data-category="category1"] {
    display: block;
}

.question {
    cursor: pointer;
    background-color: #FFF;
    margin: 5px auto;
    padding: 10px;
    border: dashed 3px #d6eaf8;
    border-radius: 5px;
    font-weight: bold;
}

.answer {
    width: 99%;
    max-height: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 5px auto;
    padding: 0 20px;
    border-radius: 5px;
    transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.answer.show {
    max-height: 500px;
    transition-delay: 0.1s;
    padding: 20px 20px;
    margin-bottom: 10px;
}

/*Section: contact-us*/
#contact-us a:hover {
    color: #c2c2c2;
    text-decoration: underline;
}

}