@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "_navbar.css";
@import "_hero.css";
@import "_sections.css";
@import "_fixed_button.css";
@import "_footer.css";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 18px;
  color: #464e5e;
  font-feature-settings: "ss05";
  overflow-x: hidden;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}


body {
  margin: 0;
  padding: 0;
  transition: padding-top 0.3s ease;
  user-select: none
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

p {
  font-size: 1.3em;
}

.quotation {
  font-size: 18px;
  font-style: italic;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  /* 링크 색상을 부모 요소의 색상으로 상속 */
  cursor: pointer;
}

/* Section: program-intro */
#program-intro {
  background-color: #FFFFFF;
}

/* Section: results-data */
#results-data {
  background-color: #e0f1fb;
}

/* Section: reviews */
#reviews {
  background-color: #FFFFFF;
}

/* Section: merit */
#merit {
  background-color: #e0f1fb; 
}

/* Section: comparison */
#comparison {
  background-color: #f2f2f2
}

/* Section: experience-reviews */
#experience-reviews {
  background-color: #FFFFFF; 
}

/* Section: curriculum */
#curriculum {
  background-color: #f2f2f2; 
}

/* Section: instructor */
#instructor {
  background-color: #e5f5f9; 
}

/* Section: faq */
#faq {
  background-color: #FFFFFF; 
}

/* Section: contact-us */
#contact-us {
  background-color: #2875BB; 
  color: #FFF;
  height: 500px;
}


/*background: linear-gradient(to bottom left, #2875BB 30%, #18b0c4 100%);*/