html {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 18px;
  color: #464e5e;
  font-feature-settings: "ss05";
  }

* {
  box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  transition: padding-top 0.3s ease; /* 스크롤 시에 부드럽게 padding-top 변경되도록 설정 */
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 링크 색상을 부모 요소의 색상으로 상속 */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  z-index: 1000;
  transition: transform 0.3s ease; /* 스크롤 시에 부드럽게 나타나거나 숨겨지도록 설정 */
}

.navbar-hidden {
  transform: translateY(-100%); /* 숨겨질 때 위로 이동하는 애니메이션 설정 */
}

/*navbar*/

.navbarcontainer {
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 10px 20px; /* 상하좌우 여백 */
  display: flex;
  align-items: center;
}

.navbar-left,
.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-right: 30px; /* navbar-left와 navbar-center 사이의 여백 */
}

.navbar-left img {
  max-width: 40px; /* 로고 이미지의 최대 너비 */
  margin-right: 10px; /* 로고와 이름 사이의 여백 */
}

.company-name {
  font-weight: bold;
  font-size: 22px;
}

.navbar-center {
  display: flex;
  align-items: center;
  flex-grow: 1; /* 가운데 영역이 남은 공간을 최대한 확장하도록 설정 */
}

.navbar-center ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* 요소를 가운데 정렬합니다. */
}

.navbar-center ul li {
  margin-right: 20px; /* 메뉴 간 여백 */
}

.navbar-center ul li:last-child {
  margin-right: 0; /* 마지막 메뉴는 여백 없음 */
}

.contact-and-icons {
  margin-left: auto; /* 우측 여백을 최대화하여 우측 정렬 */
  display: flex;
  align-items: center;
  font-size: 16px;
}

.contact-and-icons a {
  margin-right: 20px; /* Contact us와 아이콘 사이 여백 */
  color: #fff; /* 링크 색상 */
  text-decoration: none;
}

.contact-and-icons img {
  max-width: 20px; /* 아이콘 이미지의 최대 너비 */
  margin-right: 20px; /* 아이콘 사이 여백 */
}

/* Hero Section Styles */

.hero {
  position: relative;
  background: url('./images/hero-background.jpg') center/cover no-repeat; /* 배경 이미지 설정 */
  height: 100vh; /* 뷰포트 높이의 100%로 설정 */
  color: #fff; /* 텍스트 색상 설정 */
  text-shadow: 4px 2px #2e2e2e;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* 투명한 배경색을 지정합니다. */
}

.hero-content {
  position: relative; /* 컨텐츠가 오버레이 위에 올 수 있도록 위치를 상대적(relative)으로 지정합니다. */
  z-index: 1; /* 컨텐츠가 오버레이 위에 올 수 있도록 z-index를 조절합니다. */
  color: #fff;
  text-align: center;
  padding: 20px;
  max-width: 800px; /* 내용의 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 20px; /* 내부 여백 설정 */
}

.hero-title {
  font-size: 2.5em; /* 타이틀 폰트 크기 설정 */
  font-weight: bold;
  /* background-color: #333; 타이틀 배경 색상 설정 */
  padding: 10px; /* 타이틀 내부 여백 설정 */
  margin: 0; /* 제목의 위아래 여백 제거 */
}

.hero-subtitle {
  font-size: 1.5em; /* 부제목 폰트 크기 설정 */
  margin-top: 10px; /* 부제목과 타이틀 사이 여백 설정 */
}

/*Section*/

.undersection {
  display: block;
  max-width: 1600px;
  height: 800px;
  margin: 0 auto;
  padding: 80px 0; /* 상하 여백 조절 */
  text-align: left;
}

.section-content {
  margin-top: 80px;
  opacity: 0; /* 초기에 숨김 */
  transform: translateY(20px); /* 초기 위치 설정 */
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.section-content.show {
  opacity: 1; /* 나타날 때 투명도 조정 */
  transform: translateY(0); /* 나타날 때 위치 조정 */
  transition-delay: 0.2s; /* 시작 시점을 조절 */

/*Section: program-intro*/